[tool.poetry]
# Docs: https://python-poetry.org/docs/pyproject/
name = "mail-deduplicate"
version = "4.0.0"
description = """Deduplicate mails from mbox files and maildir folders."""
license = 'GPL-2.0-or-later'
authors = ["Kevin Deldycke <kevin@deldycke.com>"]
readme = "readme.rst"
homepage = 'https://github.com/kdeldycke/mail-deduplicate'
repository = 'https://github.com/kdeldycke/mail-deduplicate'
documentation = 'https://maildir-deduplicate.readthedocs.io'
keywords = [
    'CLI', 'mail', 'email', 'maildir', 'mbox', 'deduplication', 'dedupe',
    'cleanup', 'mailbox']
classifiers = [
    # See: https://pypi.org/pypi?%3Aaction=list_classifiers
    'Development Status :: 5 - Production/Stable',
    'Environment :: Console',
    'Intended Audience :: Developers',
    'Intended Audience :: Information Technology',
    'Operating System :: MacOS',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: POSIX',
    'Programming Language :: Python :: Implementation :: CPython',
    'Topic :: Communications :: Email',
    'Topic :: Utilities']

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/kdeldycke"

[tool.poetry.dependencies]
# List of python versions and their support status:
# https://en.wikipedia.org/wiki/CPython#Version_history
python = "^3.7"
boltons = "^16.3.0"
click = "^5.0"
click-log = "^0.2.0"
progressbar2 = "^0.1"
tabulate = "^0.1"
# Should have been put in dev-dependencies but extras only works from main
# section.
sphinx = {version = "^1.4", optional = true}
sphinx_rtd_theme = {version = "^0.5.0", optional = true}

[tool.poetry.dev-dependencies]
arrow = "^0.1"
bump2version = "^1.0.0"
coverage = {extras = ["toml"], version = "^5.2.1"}
pycodestyle = "^2"
pylint = "^2.6"
pytest = "^6.0"
# More pytest plugins at: http://plugincompat.herokuapp.com .
pytest-cov = "^2.10.1"

[tool.poetry.extras]
# Workaround lacks of Poetry support by RTD: https://stackoverflow.com/a/58163431
docs = ["sphinx", "sphinx_rtd_theme"]

[tool.poetry.scripts]
mdedup = 'mail_deduplicate.cli:cli'

[tool.pylint.MASTER]
# http://pylint.pycqa.org/en/latest/technical_reference/features.html
output-format = "colorized"
fail-under = "8"
[tool.pylint."messages control"]
# List messages with: $ pylint --list-msgs
# C0114: missing-module-docstring
# W0511: fixme
# W1203: logging-fstring-interpolation
disable = "C0114, W0511, W1203"
[tool.pylint.LOGGING]
# The type of string formatting that logging methods do. `old` means using %
# formatting, `new` is for `{}` formatting.
logging-format-style = "new"

[tool.pytest.ini_options]
# https://docs.pytest.org/en/latest/customize.html#pyproject-toml
addopts = "--durations=10 --cov-report term --cov=mail_deduplicate"
xfail_strict = true

[tool.coverage.paths]
# https://coverage.readthedocs.io/en/latest/config.html
source = ["mail_deduplicate"]
[tool.coverage.run]
source = ["mail_deduplicate"]
branch = true
omit = ["*/tests/*"]
[tool.coverage.report]
omit = ["*/tests/*"]
precision = 2

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
